/* CUSTOMER REVIEWS */
@media screen and (max-width:700px){
    .testimonialSection{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .elfsight-app-b2c97f88-710c-4d05-b94e-a5c5e601f585{
        width: 95%;
    }
}

@media screen and (max-width: 1000px){
    .sponsorSection{
        display: none;
    }
    .sponsorImages{
        display: none;
    }
    .sponsorContent {
        background: #f7f7f5;
        border-radius: 50%;
        height: 150px;
        width: 160px;
        font-size: 88%;
    }
    .sponsorText{
        width: 92%;
        padding: 5px;
    }
    .sponsorQuery{
        display: block;
        width: 100%;
    }
    .top{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .velux{
        margin-left: 70px;
    }
    .blueBell{
        margin-right: 70px;
    }
    .topImages{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .topImages img{
        width: 150px;
        height: auto;
    }
    .bottomImages{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .bottomImages img{
        width: 150px;
        height: auto;
    }
    .bottom_velux{
        margin-left: 80px;
    }
    .bottom_velux img{
        width: 110px;
    }
    .bottom_smallLogo{
        margin-right: 70px;
    }
}

@media screen and (max-width: 520px){
    body{
        overflow-x: hidden;
    }
    .sponsorContent{
        height: 100px;
        width: 100px;
        font-size: 65%;
    }
    .sponsorText{
        height: 100px;
        width: 100px;
        background: none;
        border: 3px solid rgba(56, 139, 217, 0.7);
        padding: 0px;
        border-radius: 50%;
    }
    .homeAdvisor img{
       display: none;
    }
    .irs img{
        display: none;
    }
    .enterBank img {
        display: none;
    }
    .velux img {
        display: none;
    }
    
    .blueBell img{
        display: none;
    }
    .sponsorSection{
        padding: none;
    }
    .velux{
        margin-left: 30px;
    }
    .blueBell{
        margin-right: 30px;
    }
    .topImages{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .topImages img{
        width: 90px;
        height: auto;
    }
    .bottomImages{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .bottomImages img{
        width: 90px;
        height: auto;
    }
    .bottom_velux{
        margin-left: 30px;
    }
    .bottom_velux img{
        width: 80px;
    }
    .bottom_smallLogo{
        margin-right: 30px;
    }
    .watermark{
        text-align: center;
    }
}
