/* CUSTOMER REVIEWS */
@media screen and (max-width:700px){
    .testimonialSection{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .elfsight-app-b2c97f88-710c-4d05-b94e-a5c5e601f585{
        width: 95%;
    }
}

@media screen and (max-width: 1000px){
    .sponsorSection{
        display: none;
    }
    .sponsorContent {
        background: #f7f7f5;
        border-radius: 50%;
        height: 150px;
        width: 160px;
        font-size: 88%;
    }
    .sponsorText{
        width: 92%;
        padding: 5px;
    }
    .sponsorQuery{
        display: block;
        width: 100%;
    }
    .sponsorQuery img{
        margin-right: 15px;
    }
    .top{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .velux{
        margin-left: 70px;
    }
    .blueBell{
        margin-right: 70px;
    }
}

@media screen and (max-width: 520px){
    .sponsorContent{
        height: 120px;
        width: 120px;
        font-size: 70%;
    }
    .sponsorText{
        padding: 4px;
        width: 85%;
        filter: none;
    }
    .homeAdvisor img{
        width: 120px;
    }
    .enterBank img {
        width: 110px;
        height: auto;
        margin-bottom: 13px;
    }
    .velux img {
        width: 80px;
        height: auto;
        margin-bottom: 6px;
    }
    
    .blueBell img {
        width: 115px;
        height: auto;
        margin-bottom: 6px;
    }
    .sponsorSection{
        padding: none;
    }
}

@media screen and (max-width: 445px){
    body{
        overflow-x: hidden;
    }
    .sponsorContent{
        height: 100px;
        width: 100px;
        font-size: 65%;
    }
    .sponsorText{
        padding: 4px;
        width: 85%;
    }
    .homeAdvisor img{
        width: 120px;
    }
    .enterBank img {
        width: 110px;
        height: auto;
        margin-bottom: 13px;
    }
    .velux img {
        width: 80px;
        height: auto;
        margin-bottom: 6px;
    }
    
    .blueBell img {
        width: 115px;
        height: auto;
        margin-bottom: 6px;
    }
    .sponsorSection{
        padding: none;
    }
}