@media screen and (max-width: 1050px){
    .mainBlock{
        width: 98% !important;
        height: 88% !important;
    }
    .descriptionBlockAlpha{
        display: flex !important;
        flex-direction: column !important;
    }
    .innerdescriptionBlock{
        grid-row: 1 / 7 !important;
        grid-column: 1 / 7 !important;
        padding-left: 25px !important;
        order: 2;
    }
    .descPricing{
        grid-column: 1 / 7 !important;
        margin-top: 4px;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    .descButton{
        grid-column: 1 / 7 !important;
    }
    .descInfo{
        grid-column: 1 / 7 !important;
    }
    .descWarranty{
        display: none !important;
    }
    .descSpecs{
        display: none !important;
    }
    .querySpecs{
        display: block !important; 
    }
    .descCarousel{
        order: 0;
    }
    .carouselNav{
        order: 1;
        margin-bottom: 5px;
    }
    .descriptionBlockAlpha h4{
        text-align: center;
    }
    .descriptionBlockAlpha .footnote{
        text-align: center;
    }
    .footnote{
        margin-top: 4px !important; 
    }
    .web_pricing{
        display: none;
    }
    .descPricing img:nth-child(1){
        display: none !important;
    }
    .descPricing img:nth-child(2){
        display: block !important;
    }
}

@media screen and (max-width:450px){
    .descPricing img{
        width: 250px !important;
        height: auto !important;
    }
    .descInfo{
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
    .descInfo p{
        width: 95%;
        font-size: 95% !important;
    }
    .slides {
        height: 150px !important; /* Set a fixed height for the slider */
        width: 250px !important;
    }
    .descButton button{
        transform: scale(0.8);
    }
}

