@media screen and (max-width: 1050px) {
    .mainBlock {
        width: 98% !important;
        height: 88% !important;
    }

    .descriptionBlockAlpha {
        display: flex !important;
        flex-direction: column !important;
        justify-content: flex-start !important;
    }

    .innerdescriptionBlock {
        grid-row: 1 / 7 !important;
        grid-column: 1 / 7 !important;
        padding-left: 25px !important;
        margin: 0 !important;
        padding: 0 !important;
        order: 2;
    }

    .descPricing {
        grid-column: 1 / 7 !important;
        margin-top: 4px;
        margin-bottom: 0px !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding: 0 !important;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .descButton {
        grid-column: 1 / 7 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .descInfo {
        grid-column: 1 / 7 !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .descWarranty {
        display: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .descSpecs {
        display: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .querySpecs {
        display: block !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .descCarousel {
        order: 0;
    }

    .carouselNav {
        order: 1;
        margin-bottom: 5px;
    }

    .descriptionBlockAlpha h4 {
        text-align: center;
    }

    .descriptionBlockAlpha .footnote {
        text-align: center;
    }

    .footnote {
        margin-top: 4px !important;
    }

    .web_pricing {
        display: none;
    }

    .descPricing img:nth-child(1) {
        display: none !important;
    }

    .descPricing img:nth-child(2) {
        display: block !important;
    }
}

@media screen and (max-width:550px) {
    div {
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
    }

    .descPricing {
        justify-content: center !important;
    }

    .descPricing img {
        width: 250px !important;
        height: auto !important;
    }

    .descInfo {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .descInfo p {
        width: 95%;
        font-size: 95% !important;
    }

    .slides {
        height: 150px !important;
        /* Set a fixed height for the slider */
        width: 250px !important;
    }

    .descButton button {
        transform: scale(0.8);
    }

    .carouselIndicator {
        border-radius: 50%;
        width: 25px;
        height: 25px;
    }

    .carouselNav {
        margin-top: 4px !important;
    }

    .prev {
        font-size: 1.5rem !important;
    }

    .next {
        font-size: 1.5rem !important;
    }
   .descCarousel, .slider, .slides{
    margin: 0px !important;
    padding: 0px !important;
   }
}